absl-py==1.2.0
astor==0.8.1
black==22.6.0
cached-property==1.5.2
certifi==2021.5.30
click==8.0.4
dataclasses==0.8
gast==0.2.2
google-pasta==0.2.0
grpcio==1.47.0
h5py==2.10.0
importlib-metadata==4.8.3
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.7
mypy-extensions==0.4.3
nltk==3.4.5
numpy==1.18.1
opt-einsum==3.3.0
pathspec==0.9.0
platformdirs==2.4.0
protobuf==3.19.4
PyYAML==6.0
scipy==1.5.4
six==1.16.0
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
tomli==1.2.3
typed-ast==1.5.4
typing_extensions==4.1.1
Werkzeug==2.0.3
wrapt==1.14.1
zipp==3.6.0
